%h1.text-center Welcome back, #{@user.user_name}!
%br
%div.col-md-8
  %p Which Wiki would you like to visit?
  %table.table
    %tr
      %td Name
      %td Private/Public
      %td Edit
      %td Delete
    -@wikis.each do |wiki|
      %tr
        %td
          = link_to "#{wiki.name}", wiki_path(wiki), class: 'btn btn-info'
        %td
          = wiki.private ? 'Private' : 'Public'
        %td
          = link_to "Edit", edit_wiki_path(wiki), class: 'btn btn-warning'
        %td
          - if policy(wiki).destroy?
            = link_to "Delete", wiki_path(wiki), method: :delete, class: 'btn btn-danger'
          - else
            .glyphicon.glyphicon-lock
            
%div.col-md-4.text-center
  -# To be replaced by CSS when I figure out how!
  %br
  %br
  %br
  %br
  %br
  %br
  -# 
  .row
    %h3 You are currently a #{@user.role} user!
    = link_to "Create a New Wiki", new_wiki_path, class: 'btn btn-primary'
  %br
  .row
    - if @user.role == 'standard'
      %p Consider upgrading to create private wikis!
      = link_to "Become Premium!", new_charge_path, class: 'btn btn-primary'
    - elsif @user.role == 'premium'
      %p Unhappy with your premium account?
      = link_to "Request a refund", 'www.google.com', class: 'btn btn-danger'

