.container
  .col-md-6.text-center
    %p Edit your Wiki using markdown styling below.
    = form_for @wiki do |f|
      - if policy(@wiki).destroy? && @user.role == 'premium'
        = f.check_box :private
        = f.label 'Check for Private, Uncheck for Public'
      = f.submit 'Update', class: 'btn btn-primary'
      %br
      %br
      = f.text_area :content, id: 'editor'


  .col-md-6.text-center
    %p See it displayed live right here!
    #markdown-preview
