.container
  %h1.text-center Welcome to the #{@wiki.name} Wiki!
  %br
  .col-md-6
    = markdown @wiki.content
  .col-md-6.text-center
    %br
    - if @user.can_add_collaborators
      .row
        %h3 Add Collaborators
        = form_for @wiki do
          %table.table
            %tr
              %td User
              %td Email
              %td Give Access
              - User.all.each do |user|
                %tr
                  %td 
                    "#{user.user_name}"
                  %td 
                    "#{user.email}"
                  %td 
                    = check_box_tag "wiki[user_ids][]", user.id, @wiki.users.include?(user)
          = submit_tag "Save Changes", class: 'btn btn-primary'
    
    %br
    .row
      - if current_user
        = link_to "Edit This Wiki", edit_wiki_path, class: 'btn btn-primary'
            