!!!
%html
  %head
    %title Blocipedia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div.container
      - if flash[:notice]
        .alert alert-success{'data-dismiss' => 'alert'}
        %button.close &times;
        = flash[:notice]
      - elsif flash[:error]
        .alert alert-danger{'data-dismiss' => 'alert'}
        %button.close &times;
        = flash[:error]
      - elsif flash[:alert]
        .alert alert-warning{'data-dismiss' => 'alert'}
        %button.close &times;
        = flash[:alert]

      - if current_user
        = link_to "Sign Out", destroy_user_session_path, class: 'btn btn-primary', method: :delete
      
      = yield
